<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin" enctype="multipart/form-data" method="POST">
        <input type="text" placeholder='ename' name="ename" id="">
        <input type="text" placeholder='description' name='description'>
        <input type="number" placeholder='t_price' name="t_price" id="">
        <input type="number" placeholder='seats' name="seats" id="">
        <input type="file" placeholder='image' name="pic" id="">
        <input type="submit" value="Submit">
    </form>
    
    {{ message }}
</body>
</html>